.searchbar{
    height: 2rem;
    display: flex;
    font-size: 1.2rem;
    line-height: 2.8rem;
    padding-bottom: 2rem;
    color: #979797;

    & .search-text{
      margin-left: 1rem;
    }
}
