.status-holder{
    border: 1px solid #CCCFD4;
    border-radius: 30px;
    width: 150px;
    height: 33px;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
}

.ball{
    width: 9px;
    height: 9px;;
    border-radius: 30px;
    margin-right: 2rem;
    margin-left: 1rem;
}