.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right: 0;  
    margin-left: 0;
}

.col-lg-2{
    @media(min-width: 1024px){
        padding: 0;
    }
}
