@import "../../variables.scss";

.navbar-container{
    height: 6rem;
    box-shadow: $box-shadow;
    background: $background;   
    display: flex;
    align-items: center; 
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: $font-blue;
    width: 20rem;
    font-family:'Roboto', sans-serif;
}

.column-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar{
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search{
        border: none;
        margin-left: 1.6rem;
        font-size: 1.2rem;
        
        &:focus{
            outline: none;
        }
    }
}

.column-two{
    .desktop-menu{
        @media (max-width: 1024px){
            display: none;
        }
    }

    .mobile-menu{
        @media (min-width: 1024px){
            display: none;
        }
    }
}

.nav-items{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 40.7rem;
    padding: none;
    font-size: 1.4rem;
    color: #647787;
    font-family: 'Segoe UI', sans-serif;
}

.notification{
    position: relative;
}
.notification-number{
    border-radius: 90%;
    position: absolute;
    right: -.3rem;
    top: -.7rem;
    height: 1.5rem;
    width: 1.5rem;
    background: #1860EC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #FCFDFF;
}

.profile{
    display: flex;
    align-items: center;
}

.welcome{
    margin-right: 9px;
    & .hello{
        font-size: 1rem;
        text-align: end;
    }

    & .name{
        font-size: 1.4rem;
    }
}

.profile-photo{
    border-radius: 90%;
}