@import "../../variables.scss";

.navbar-container{
    height: 6rem;
    box-shadow: $box-shadow;
    background: $background;   
    display: flex;
    align-items: center; 
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 8;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand{
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    color: $font-blue;
    font-family:'Roboto', sans-serif;
    cursor: pointer;

    @media (min-width: 1024px){
        width: 20rem;
        font-size: 24px;
    }
}

.column-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar{
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    @media (max-width: 1024px){
        margin-left: 4rem;
    }

    .search{
        width: 8rem;
        border: none;
        margin-left: 1.6rem;
        font-size: 1rem;
        
        &:focus{
            outline: none;
        }

        @media (min-width: 1024px){
            font-size: 1.2rem;
        }
    }
}

.search-icon{
    transform: translateY(2px);
}

.column-two{
    .desktop-menu{
        @media (max-width: 1024px){
            display: none;
        }
    }

    .mobile-menu{
        @media (min-width: 1024px){
            display: none;
        }
    }
}

.nav-items{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 40.7rem;
    padding: none;
    font-size: 1.4rem;
    color: #647787;
    font-family: 'Segoe UI', sans-serif;
}

.notification{
    position: relative;
}
.notification-number{
    border-radius: 90%;
    position: absolute;
    right: -.3rem;
    top: -.7rem;
    height: 1.5rem;
    width: 1.5rem;
    background: #1860EC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #FCFDFF;
}

.profile{
    display: flex;
    align-items: center;
}

.welcome{
    margin-right: 9px;
    & .hello{
        font-size: 1rem;
        text-align: end;
    }

    & .name{
        font-size: 1.4rem;
    }
}

.profile-photo{
    border-radius: 90%;
}

.mobile-menu{
    display: flex;
    align-items: center;
    // position: relative;

    & .notification{
        position: absolute;
        right: 12rem;
        top: 2.5rem;
    }
}

.burger-menu{
    position: relative;
    z-index: 10;
}

.menu-overlay{
    position: absolute;
    background-color: #fff;
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    transition: all .2s;
    box-shadow: $box-shadow;
    display: none;
    z-index: 9;
}

.toggle{
    display: block;
    height: 90vh;
    width: 68vw;
}

.mobile-menu-contents{
    margin-top: 21rem;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.mobile-menu-links{
    &:not(:last-child){
        margin-bottom: 4rem;
    }

    & .profile-photo{
        position: absolute;
        top: -10rem;
        left: 1rem;
    }
}